body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  padding-top: 5em;
  padding-bottom: 4em;
}

#first-heading {
  font-size: 1.5em;
  margin-bottom: 0em;
  font-weight: 200;  
  text-align: center;
}

#second-heading {
  font-size: 1.5em;
  margin-top: 0;
  font-weight: 600;  
  text-align: center;
}

#description {
  opacity: 0.5;
  font-weight: 400;  
  text-align: center;
  margin: 1em 2em 4.5em;
}

#parent-container {
  display: flex;
  flex-direction: column;
  margin: 0 1.7em 0 1.7em;
}

.child-container {
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: 5px;
  box-shadow: 0 5px 15px hsl(229, 6%, 66%, 0.5);
  flex-basis: 14em;
  padding: 1em 2em 0 2em;
  margin-bottom: 2em;
}

.card > h2 {
  font-size: 1.3em;
  font-weight: 600;  
  margin-bottom: 0.4em;
}

.card > p {
  font-size: 0.9em;
  font-weight: 400;  
  opacity: 0.5;
  margin-bottom: 2em;
  margin-top: 0;
}

.card > img {
  float: right;
}

#supervisor-card {
  border-top: thick solid hsl(180, 62%, 55%);
}

#team-builder-card {
  border-top: thick solid hsl(0, 78%, 62%);
}

#karma-card {
  border-top: thick solid hsl(34, 97%, 64%);
}

#calculator-card {
  border-top: thick solid hsl(212, 86%, 64%);
}

@media (min-width: 1024px) {
  body {
    /* background-image: url("/images/Pattern-Randomized.svg"); */
    background-color: hsl(0, 0%, 94%);
    padding: 9em 5em;
  }

  #foreground {
    background-color: hsl(0, 0%, 98%); 
    box-shadow: 0 5px 8px hsla(0, 0%, 0%, 0.3);
    padding-top: 5em;
    padding-bottom: 4em;
  }

  #first-heading {
    font-size: 1.8em;
  }
  
  #second-heading {
    font-size: 1.8em;
  }
  
  #description {
    margin-left: 22em;
    margin-right: 22em;
  }

  #parent-container {
    flex-direction: row;
    margin-left: 6em;
    margin-right: 6em;
  }
  
  .child-container {
    flex: 1;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
  }
  
}